a {
    text-decoration: none;
    color: #2D855F;
    font-family: Inconsolata;
}

.sizeOfAlbum{
    height: 20%;
    width: 60%;
}

.archivePageContent {
    max-width: 1500px;
    margin: auto;
    font-size: 500;
    color: #B3A369;
    padding: 50px;
}

#archiveWelcome {
    font-size: 40px;
    font-weight: bolder;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Inconsolata;
}

#welcomeMsg {
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;
}

#checkoutMore {
    font-size: 22px;
    padding-top: 25px;
    text-align: center;
}

#photoSection {
    margin-top: 5rem;
    padding: 40px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 100;
    color: #B3A369;
    background-color: #212B31;
}

#photoGal {
    font-family: Inconsolata;
    font-size: 37px;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 25px;
    text-align: center;
}

#msgs {
    margin-top: 2rem;
    padding: 50px;
    font-size: 100;
    color: #B3A369;
    background-color: #212B31;
}

#video {
    border: 150px;
    border-color: #212B31;
}

iframe {
    display: block; 
    margin: 0 auto;
}