@import "../Themes.scss";

.logo {
    grid-area: logo;
    display: block;
    max-height: 60%;
    height: inherit;
    margin: auto;
}

.more-text {
    color: $school-gold;
}

.side-content {
    align-self: center;
    height: 50%;
}

.electrical {
    height: 100vh;
    background-image: url("../Images/Electrical.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 4rem; 
    padding-bottom: 1rem;
    background-size: cover;
}

.mechanical {
    background-image: url("../Images/Mechanical.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.computer {
    background-image: url("../Images/Code.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
}