//Main Grid CSS 
.sponsors-container {
    background-size: contain;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    margin: auto;
    max-width: 85rem;
    grid-gap: 2rem 1rem;
    grid-template-areas:
        'banner banner banner banner banner'
        'tyTxt tyTxt tyTxt tyTxt tyTxt'
        'leftCard handshake handshake handshake rightCard'
        'sec1 sec1 gSpon1 gSpon2 gSpon3'
        'sec2 sec2 sSpon1 sSpon2 sSpon3'
        'sec3 sec3 grSpon1 grSpon2 grSpon3'
        '. . . . .';
}

//Main Grid Setup (Mobile Version)
.sponsors-container-mobile {
    background-size: contain;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 2rem; 
    display: grid;
    grid-template-areas:
        'banner banner banner'
        'tyTxt tyTxt tyTxt'
        'handshake handshake handshake'
        '. sec1 .'
        '. gSpon1 .'
        '. gSpon2 .'
        '. gSpon3 .'
        '. sec2 .'
        '. sSpon1 .'
        '. sSpon2 .'
        '. sec3 .'
        '. grSpon1 .'
        '. leftCard .'
        '. rightCard .'
        '. . .';
}

//Banner image
.banner {
    grid-area: banner;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 95%;
    height: 30rem;
    opacity: .95;
    margin: 57px auto auto auto;
    border-radius: 20rem;
    background-color: #B3A369;
    box-shadow: inset 0px 0px 14px 5px;
}

//ThankYou SideCard Styling
.ty-text {
    grid-area: tyTxt;
    background-color: #212b31;
    color: #B3A369;
    padding-top: 6px;
}

//Handshake Imag styling
.handshakeImg {
    background-color: #B3A369;
    grid-area: handshake;
    display: block;
    width: 85%;
    height: 20rem;
    border-radius: 180px;
    margin: auto auto 1rem auto;
    color: #212b31;
    box-shadow: inset 0px 0px 10px 3px;
}

//leftCard Styling
.leftCard {
    margin: auto auto auto 20px;
    padding: 25px 10px 25px 10px;
}

//rightCard Styling
.rightCard {
    margin: auto 20px auto auto;
    padding: 20px 10px 10px 10px;
}
//sponsorCard Styling
.gSpon {
    margin: auto;
}

.desc {
    grid-area: desc;
    max-width: 20rem;
    height: 100%;
    padding-bottom: 1rem;
}

.secTitle {
    padding-top: 20px;
    padding-bottom: 20px;
}
.leftAlign {
    text-align: left;
    padding-left: 20px;
}

ul {
    margin-top: 0;
    padding-left: 45px;
}

li {
    text-align: left;
}

.container {
    position: relative;
    width: 50%;

    &:hover {
        .overlay {
            width: 14rem;
        }
    }
}

.sponsorLogo {
    opacity: 1;
    display: block;
    width: 13rem;
    height: 15rem;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-radius: 10px;
    border-width: 12px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.middleText {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

//Color Tags 
.cBlack {
    color: #212b31;
}
.cGold {
    color: #B3A369;
}

.cSilver {
    color: #A9A9A9;
}

.cGreen {
    color: #2d855f;
}

//Border Color Tags
.borderColorBlack {
    border-color: #212b31;
}
.borderColorGold
{
    border-color: #B3A369;
}
.borderColorSilver
{
    border-color: #A9A9A9;
}
.borderColorGreen
{
    border-color: #2d855f;
}

//Hover Color
.backgroundBlack {
    background-color: #212b31;
}
.backgroundGold
{
    background-color: #B3A369;
}
.backgroundSilver
{
    background-color: #A9A9A9;
}
.backgroundGreen
{
    background-color: #2d855f;
}

