@import "../Themes.scss";

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    20% {
        opacity: 0.10;
    }

    20% {
        opacity: 0.20;
    }

    30% {
        opacity: 0.30;
    }

    40% {
        opacity: 0.40;
    }
  
    50% {
      opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
  
    100% {
      opacity: 1;
    }
}

.card-group {
    margin: 2rem auto;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 100px 650px 650px 100px;
    grid-template-areas: 
    '. . . .'
    't t t t'
    'w w w w'
    '. d d .'
    'c c c c'
    '. . . .';
}

.card-container {
    width: max-content;
    margin: 0 auto;
    display: flex;
    grid-area: c;
}

.who-we-are-container {
    @extend .card-container;
    padding-top: 5rem;
    display: block;
}

.slideshow-container {
    min-width: 1500px;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 100px 650px 650px 100px;
    grid-template-areas:
        '. . . .'
        'title title title title'
        'words words words words'
        '. divider divider .'
        'leftArrow text content rightArrow'
        '. . . .';
}

.slideshow-leftArrow {
    height: 50px;
    width: 50px;
    align-self: center;
    grid-row-start: title;
    grid-row-end: leftArrow;
    grid-column-start: leftArrow;
    grid-column-end: leftArrow;
}

.slideshow-rightArrow {
    height: 50px;
    width: 50px;
    align-self: center;
    grid-row-start: title;
    grid-row-end: rightArrow;
    grid-column-start: rightArrow;
    grid-column-end: rightArrow;
}