@import "../Themes.scss";

.NavBarSelection.MuiTab-textColorInherit {
    font-size: 1.5rem;
    font-family: Inconsolata;
    font-weight: bolder;
}

.NavBarSelection.Mui-selected {
    color: $school-gold;
}

.footer {
    text-align: center;
    padding-top: 1rem;
    background-color: $dark-blue;
    color: $school-gold;
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.icon {
    vertical-align: middle;
}