//Main Grid CSS 
.outReach-container {
    margin: auto;
    max-width: 85rem;   
}

//Main Grid Setup (Mobile Version)
.outReach-container-mobile {
    background-image: url("../Images/UNCCCrown.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: auto;
    max-width: 85rem; 
}

//Banner Image Styling
.banner {
    grid-area: banner;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    height: 30rem;
    opacity: .95;
    margin: 80px auto auto auto;
    border-radius: 20rem;
    background-color: #B3A369;
}

//leftCard Styling
.leftCard {
    margin: auto 10px auto auto;
}

//rightCard Styling
.rightCard {
    margin: auto auto auto 10px;
}

.more-text {
    grid-area: text;
    color: #B3A369;
}

.ImgBox {
    background-color: inherit;
}

.textClass {
    font-size: 10px;
}

// Arduino1 image styling
.arduino1 {
    grid-area: arduino1;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto 0 auto auto;
    background-color: #212b31;
}

.arduino8 {
    grid-area: arduino8;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto 0;
    background-color: #212b31;
}


// Bobs bash Image Styling
.bobsBash {
    grid-area: bobsBash;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    background-color: #212b31;

}

// Discovery Place 1 Image styling
.discoveryplace1{
    grid-area: discoveryplace1;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto 0 auto auto;
    background-color: #212b31;
}

// Discovery Place 2 Image styling
.discoveryplace2{
    grid-area: discoveryplace2;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto 0;
    background-color: #212b31;
}

// Elementary 1 Image styling
.elementary1{
    grid-area: elementary1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto 0 auto auto;
    background-color:#212b31;
}


// Elementary 2 Image styling
.elementary2{
    grid-area: elementary2;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    width: 35%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto 0;
    background-color: #212b31;
}


// NC Science Image styling
.ncscience1{
    grid-area: ncscience1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    height: 30rem;
    opacity: .95;
    margin: auto auto auto auto;
    background-color: #212b31;
}



